*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    font-size: 20px;
}

.random-color-generator-container{
    display: flex;
    gap: 10px;
}

.hex-color-container, .rgb-color-container{
    min-height: 100vh;
    flex: 1;
}

.hex-color-container button{
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(230, 246, 127);
    border-radius: 10px;
}

.hex-color-container{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.hex-color-value, .rgb-color-value{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.rgb-color-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rgb-color-container button{
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(69, 36, 213);
    border-radius: 10px;
    color: #fff;
}

.rgb-color-container{
    background-color: rgb(0, 208, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}